<app-headbar></app-headbar>
<section class="section">
  <div class="container">
    <div class="heading animated fadeIn">
      <h1 class="title">Usuários</h1>
    </div>
  </div>
  <br>
  <div class="container is-fluid">
    <p class="has-text-left">
      <button class="button is-success is-large">
        <i class="fa fa-add"></i>&nbsp;&nbsp;&nbsp;Novo Usuário</button>
    </p>
  </div>
  <table class="table is-striped is-narrow is-fullwidth">
    <thead>
      <tr>
        <th class="has-text-centered">Nome</th>
        <th class="has-text-centered">Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="has-text-left">Raphael De Pieri</td>
        <td class="has-text-left">raphaeldppf@hotmail.com</td>
        <td class="has-text-centered">
          <button class="button is-warning is-medium">
            <i class="fa fa-warning"></i>&nbsp;Alterar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
